<?xml version="1.0" encoding="utf-8"?>
<jnlp
    codebase="http://adr.de/speicherplatz/quaddy-services/deadline-reminder/"
    href="$outputFile">
  <information>
 		<title>DeadlineReminder</title>
		<vendor>QuaddyServices.de</vendor>
		<shortcut online="false">
			<menu submenu="Deadline Reminder" />
		</shortcut>
  </information>
  <security>
     <all-permissions/>
  </security>
  <offline-allowed />
  <resources>
 	<j2se version="1.5+" href="http://java.sun.com/products/autodl/j2se"/>
    $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
